/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 10px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.5s ease;
    z-index: 1100;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px 0 10px;
    margin: 0;
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    margin: 0 15px;
}

.nav-links a:hover {
    color: #1ebd1b;
}

.hero {
    background-color: #fff;
    padding: 10px 0%;
    text-align: center;
}

.hero h1 {
    color: #080808;
    font-size: 28px;
    margin: 10px 0 10px 0;
}

.hero p {
    font-size: 20px;
    color: #0d0d0d;
    margin: 0 0 10px 0;
}

.hero img {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px 10px 15px 10px;
}

.projects {
    padding: 40px 20px;
    background-color: #62bafe;
}

.projects h2 {
    text-align: center;
    font-size: 28px;
    margin: 0px 0 30px 0;
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

.project img {
    float: right;
    margin-left: 10px;
    border-radius: 10px;
}

.footer-content {
    background-color: #222;
    padding: 10px 0;
    margin-top: auto;
}

.footer-section {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.footer-section a {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 15px 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.footer-section a:hover {
    color: #1ebd1b;
}
